@model WorldBuilder.Data.Spell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="grid-container cardcollection">
    <section class="grid-item mycard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 256">
            <defs>
                <style>
                    .cls-1 {
                        isolation: isolate;
                    }

                    .cls-2 {
                        fill: #adadad;
                        mix-blend-mode: overlay;
                    }

                    .cls-3 {
                        fill: #848484;
                    }

                    .cls-4 {
                        fill: #7e5096;
                    }

                    .cls-5 {
                        fill: #543868;
                    }

                    .cls-6 {
                        fill: none;
                        stroke: #353535;
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <g class="cls-1">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_4" data-name="Layer 4">
                        <g>
                            <path class="cls-2" d="M189,6H38V23.06A14.94,14.94,0,0,1,23.06,38H6V237a13,13,0,0,0,13,13H189a13,13,0,0,0,13-13V19A13,13,0,0,0,189,6Z" />
                            <path class="cls-3" d="M189,10a9,9,0,0,1,9,9V237a9,9,0,0,1-9,9H19a9,9,0,0,1-9-9V42H23.06A19,19,0,0,0,42,23.06V10H189m0-4H38V23.06A14.94,14.94,0,0,1,23.06,38H6V237a13,13,0,0,0,13,13H189a13,13,0,0,0,13-13V19A13,13,0,0,0,189,6Z" />
                        </g>
                        <g>
                            <path class="cls-4" d="M19,255A18,18,0,0,1,1,237V19A18,18,0,0,1,19,1H189a18,18,0,0,1,18,18V237a18,18,0,0,1-18,18ZM7,237a12,12,0,0,0,12,12H189a12,12,0,0,0,12-12V19A12,12,0,0,0,189,7H39V23.06A16,16,0,0,1,23.06,39H7Z" />
                            <path class="cls-5" d="M189,2a17,17,0,0,1,17,17V237a17,17,0,0,1-17,17H19A17,17,0,0,1,2,237V19A17,17,0,0,1,19,2H189M19,250H189a13,13,0,0,0,13-13V19A13,13,0,0,0,189,6H38V23.06A14.94,14.94,0,0,1,23.06,38H6V237a13,13,0,0,0,13,13M189,0H19A19,19,0,0,0,0,19V237a19,19,0,0,0,19,19H189a19,19,0,0,0,19-19V19A19,19,0,0,0,189,0ZM40,8H189a11,11,0,0,1,11,11V237a11,11,0,0,1-11,11H19A11,11,0,0,1,8,237V40H23.06A17,17,0,0,0,40,23.06V8Z" />
                        </g>
                        <line class="cls-6" x1="104" y1="42.02" x2="104" y2="66.02" />
                        <line class="cls-6" x1="195" y1="70" x2="13" y2="70" />
                        <line class="cls-6" x1="195" y1="38.5" x2="43" y2="38.5" />
                        <line class="cls-6" x1="195" y1="102.5" x2="13" y2="102.5" />
                    </g>
                </g>
            </g>
        </svg>


        <div class="carddata grid-container">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName" } })
            @Html.EditorFor(model => model.CastTime, new { htmlAttributes = new { @class = " grid-item cardtext cardDetail1" } })
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2" } })
            @Html.EditorFor(model => model.RangeArea, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail3" } })
            @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext cardSummary" })
        </div>
    </section>


    <section class="grid-item mycard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204 257" class="cardsvg">
            <defs>
                <style>
                    .cls-1 {
                        fill: #806ce5;
                    }

                    .cls-2 {
                        fill: #adadad;
                    }

                    .cls-3 {
                        fill: #353535;
                    }

                    .cls-4 {
                        fill: none;
                        stroke: #353535;
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                    <path class="cls-1" d="M187,0H17A17,17,0,0,0,0,17V240a17,17,0,0,0,17,17H187a17,17,0,0,0,17-17V17A17,17,0,0,0,187,0Zm13,240a13,13,0,0,1-13,13H17A13,13,0,0,1,4,240V36c30.29,1.1,33.09-1.78,32-32H187a13,13,0,0,1,13,13Z" />
                    @*<path class="cls-1" d="M21.75,62H4V19.2C4.65,1.19,23.39,4,36,4V47.75A14.25,14.25,0,0,1,21.75,62Z" />*@
                    <g>
                        <path class="cls-2" d="M17,252A12,12,0,0,1,5,240V63c12.67,0,31.33,2.76,32-15.25V5H187a12,12,0,0,1,12,12V240a12,12,0,0,1-12,12Z" />
                        <path class="cls-3" d="M187,6a11,11,0,0,1,11,11V240a11,11,0,0,1-11,11H17A11,11,0,0,1,6,240V64c13.4.26,31.14,2.14,32-16.25C38,38.17,38,15.33,38,6H187m0-2H36c0,10.12,0,33.42,0,43.75C35.57,65.28,15.87,61.84,4,62V240a13,13,0,0,0,13,13H187a13,13,0,0,0,13-13V17A13,13,0,0,0,187,4Z" />
                    </g>
                    <polygon class="cls-3" points="9 21 17 22 14.01 15.53 21.5 16.5 20 12 25 11 30 7 27.15 13 23.5 13.5 25.5 19.5 19 19 22.5 25.5 13 24 14 29 10 28 9 21" />
                    @*<path class="cls-3" d="M24,39l2-4c-6.24,0-15.87-4.7-16,10,.15,14.13,9.07,10.42,15,10l-1-4C7.66,61,7.77,29,24,39Z" />*@
                    @*<path class="cls-3" d="M25,45c.06,3.89-6.06,3.89-6,0S25.06,41.11,25,45Z" />*@
                    <line class="cls-4" x1="117.5" y1="36" x2="117.5" y2="54" />
                    <line class="cls-4" x1="193" y1="59.5" x2="41" y2="59.5" />
                    <line class="cls-4" x1="194" y1="31.5" x2="42" y2="31.5" />
                    <line class="cls-4" x1="193" y1="81.5" x2="11" y2="81.5" />
                </g>
            </g>
        </svg>
        <div class="carddata grid-container">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName" } })
            @Html.EditorFor(model => model.CastTime, new { htmlAttributes = new { @class = " grid-item cardtext cardDetail1" } })
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2" } })
            @Html.EditorFor(model => model.RangeArea, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail3" } })
            @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext cardSummary" })
        </div>
    </section>


    <section class="grid-item mycard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 204 252" class="cardsvg">

            <defs>
                <style>
                    .cls-1 {
                        isolation: isolate;
                    }

                    .cls-2 {
                        fill: #878787;
                        mix-blend-mode: overlay;
                    }

                    .cls-3 {
                        fill: #806ce5;
                    }

                    .cls-4 {
                        fill: none;
                        stroke: #353535;
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <g class="cls-1">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_4" data-name="Layer 4">
                        <path class="cls-2" d="M188,5H37V22.06A14.94,14.94,0,0,1,22.06,37H5V236a13,13,0,0,0,13,13H188a13,13,0,0,0,13-13V18A13,13,0,0,0,188,5Z" transform="translate(-1 -1)" />
                        <path class="cls-3" d="M188,1H18A17,17,0,0,0,1,18V236a17,17,0,0,0,17,17H188a17,17,0,0,0,17-17V18A17,17,0,0,0,188,1Zm13,235a13,13,0,0,1-13,13H18A13,13,0,0,1,5,236V37H22.06A14.94,14.94,0,0,0,37,22.06V5H188a13,13,0,0,1,13,13Z" transform="translate(-1 -1)" />
                        <line class="cls-4" x1="102" y1="40.02" x2="102" y2="64.02" />
                        <line class="cls-4" x1="193" y1="68" x2="11" y2="68" />
                        <line class="cls-4" x1="193" y1="36.5" x2="41" y2="36.5" />
                        <line class="cls-4" x1="193" y1="100.5" x2="11" y2="100.5" />
                    </g>
                </g>
            </g>
        </svg>
        <div class="carddata grid-container">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName" } })
            @Html.EditorFor(model => model.CastTime, new { htmlAttributes = new { @class = " grid-item cardtext cardDetail1" } })
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2" } })
            @Html.EditorFor(model => model.RangeArea, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail3" } })
            @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext cardSummary" })
        </div>
    </section>






</div>






<div>
    <h4>Spell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpellLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpellSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CastTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangeArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangeArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Components)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Components)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verbal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verbal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Somatic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Somatic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpellEffectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellEffectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mechanics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mechanics)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpellID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
