@model WorldBuilder.Data.Spell

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name > Details</h2>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.SpellID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<div class="grid-container mybigspellpanel">
    <section class="grid-item">
        <img src="~/Content/assets/SpellPanelBig.svg" class="panel-svg-big-spell" />
        <div class="grid-item carddata mybigspellpanel grid-container">
            <div class="grid-item grid-container">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName panelboldtext" } })
                @Html.EditorFor(model => model.CastTime, new { htmlAttributes = new { @class = " grid-item cardtext cardDetail2" } })
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2" } })
                @Html.TextAreaFor(model => model.RangeArea, new { @class = "grid-item cardtext cardDetail3 cardtextarea" })
                @Html.EditorFor(model => model.SpellSchool, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2" } })
                @Html.EditorFor(model => model.SpellEffectType, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2" } })
                <div class="grid-item grid-container componentpanel">
                    <div class="grid-item comptoggles">
                        <input class="complabel" disabled="disabled" value="Verbal" />
                        @Html.EditorFor(model => model.Verbal, new { htmlAttributes = new { @class = "componentsbutton" } })
                    </div>
                    <div class="grid-item comptoggles">
                        <input class="complabel" disabled="disabled" value="Somatic" />
                        @Html.EditorFor(model => model.Somatic, new { htmlAttributes = new { @class = "componentsbutton" } })
                    </div>
                    <div class="grid-item comptoggles">
                        <input class="complabel" disabled="disabled" value="Material" />
                        @Html.EditorFor(model => model.Material, new { htmlAttributes = new { @class = "componentsbutton" } })
                    </div>
                    @Html.EditorFor(model => model.Components, new { htmlAttributes = new { @class = "grid-item cardtext componenttext" } })
                </div>
            </div>
                @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext cardSummary spellsummary" })
                @Html.TextAreaFor(model => model.FullText, new { @class = "grid-item cardtext cardSummary spellfulltext" })
        </div>
    </section>
</div>
<br />

