@model List<WorldBuilder.Data.Spell>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />

<br />
<div class="grid-container cardcollection">


        @foreach (var item in Model)

        {
            <section class="grid-item mycard">
                <img src="~/Content/assets/SpellPanel.svg" class="panel-svg-small" />
                <div class="carddata grid-container">
                    @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName startdis" } })
                    @Html.EditorFor(model => item.CastTime, new { htmlAttributes = new { @class = " grid-item cardtext cardDetail2 startdis" } })
                    @Html.EditorFor(model => item.Duration, new { htmlAttributes = new { @class = "grid-item cardtext cardDetail2 startdis" } })
                    @Html.TextAreaFor(model => item.RangeArea, new { @class = "grid-item cardtext cardDetail3 cardtextarea startdis" })
                    @Html.TextAreaFor(model => item.Summary, new { @class = "grid-item cardtext SpellCardSummary stardis" })

                    <div class="grid-item pcbuttonpanel">
                        @Html.ActionLink("Edit", "Edit", new { id = item.SpellID, @class = "grid-item leftbutton" })
                        @Html.ActionLink("Details", "Details", new { id = item.SpellID, @class = "grid-item leftbutton" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.SpellID, @class = "grid-item leftbutton" })
                    </div>
                </div>


            </section>
        }
</div>

