@model IEnumerable<WorldBuilder.Data.Spell>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />


































<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CastTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RangeArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concentration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mechanics)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellSchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CastTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RangeArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concentration)
        </td>
        <td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellEffectType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mechanics)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpellID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpellID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpellID })
        </td>
    </tr>
}

</table>
