@model WorldBuilder.Data.PCtoSpellBinding

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PCtoSpellBinding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PC.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PC.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spell.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spell.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PCtoSPBindID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
