@model WorldBuilder.Models.CharacterBuild

@{
    ViewBag.Title = "Create";
}
<br />
<h2>Create a Player Character</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <hr />
        <div class="playerbox grid-container cardcollection">
            <section class="grid-item panel-cont">
                <img src="~/Content/assets/PersonalityPanel.svg" class="panel-svg panel-person" />
                <div class="carddata grid-container">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item pctext pcname panelboldtext", placeholder = "Name" } })
                    @Html.EditorFor(model => model.NameFull, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext", placeholder = "Full Name" } })
                    @Html.TextAreaFor(model => model.Personality, new { @class = "grid-item cardtext pctext pcsummary", placeholder = "Personality" })
                </div>
            </section>
            <section class="grid-item panel-cont">
                <img src="~/Content/assets/StatsPanel.svg" class="panel-svg panel-stats" />
                <div class="carddata grid-container gridpanelhealth">
                    <!--HP and HD names and fields-->
                    <div class="grid-item pctext field2col">Health</div><div class="grid-item pctext field2col">Hit Dice</div>
                    @Html.EditorFor(model => model.CurHP, new { htmlAttributes = new { @class = "grid-item pctext pchealth field2col", disabled="disabled" } })
                    @Html.EditorFor(model => model.CurHD, new { htmlAttributes = new { @class = "grid-item pctext pchealth field2col", disabled = "disabled" } })
                    @Html.EditorFor(model => model.MaxHP, new { htmlAttributes = new { @class = "grid-item pctext field2col startdis", placeholder="Total HP" } })
                    @Html.EditorFor(model => model.HitDice, new { htmlAttributes = new { @class = "grid-item pctext field2col startdis", placeholder="Hit Dice" } })
                    <div class="grid-container gridpanel">
                        <!--proficiency(calc) AC(calc) & Initiative(calc)-->
                        <div class="grid-item pctext panellabel">Prof.</div><div class="grid-item pctext panellabel">AC</div><div class="grid-item pctext panellabel">Init.</div>
                        @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext pchealth panelboldtext field3col startdis" } })
                        @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext pchealth panelboldtext field3col startdis" } })
                        @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext pchealth panelboldtext field3col startdis" } })

                        <!--Mod STR save-->
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="" />
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="STR" />
                        @Html.EditorFor(model => model.STR, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis", placeholder = "Score" } })

                        <!--Mod Dex save-->
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="" />

                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="DEX" />
                        @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis", placeholder = "Score" } })

                        <!--Mod CON save-->
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="" />
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="CON" />
                        @Html.EditorFor(model => model.CON, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis", placeholder = "Score" } })

                        <!--Mod INT save-->
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="" />
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="INT" />
                        @Html.EditorFor(model => model.INT, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis", placeholder = "Score" } })

                        <!--Mod WIS save-->
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="" ) />
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="WIS" />
                        @Html.EditorFor(model => model.WIS, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis", placeholder = "Score" } })

                        <!--Mod CHA save-->
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="" />
                        <input class="grid-item pctext field3col panelboldtext" disabled="disabled" value="CHA" />
                        @Html.EditorFor(model => model.CHA, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis", placeholder = "Score" } })
                    </div>
                    <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
                    <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
                    <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
                    <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
                    <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->

                </div>

            </section>
            <section class="grid-item panel-cont">
                <img src="~/Content/assets/SkillsPanel.svg" class="panel-svg panel-skills" />
                <div class="carddata grid-container gridpanelskills">
                    @Html.EditorFor(model => model.Athletics, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Athletics" />
                    @Html.EditorFor(model => model.Acrobatics, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Acrobatics" />
                    @Html.EditorFor(model => model.SleightofHand, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Sleight of Hand" />
                    @Html.EditorFor(model => model.Stealth, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Stealth" />
                    @Html.EditorFor(model => model.Arcana, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Arcana" />
                    @Html.EditorFor(model => model.History, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="History" />
                    @Html.EditorFor(model => model.Investigation, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Investigation" />
                    @Html.EditorFor(model => model.Nature, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Nature" />
                    @Html.EditorFor(model => model.AnimalHandling, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Animal Handling" />
                    @Html.EditorFor(model => model.Insight, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Insight" />
                    @Html.EditorFor(model => model.Medicine, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Medicine" />
                    @Html.EditorFor(model => model.Perception, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Perception" />
                    @Html.EditorFor(model => model.Survival, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Survival" />
                    @Html.EditorFor(model => model.Deception, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Deception" />
                    @Html.EditorFor(model => model.Intimidation, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Intimidation" />
                    @Html.EditorFor(model => model.Performance, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Performance" />
                    @Html.EditorFor(model => model.Persuasion, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext fieldskills startdis" } })
                    <input class="grid-item pctext fieldskills" disabled="disabled" value="Persuasion" />
                </div>
            </section>

        </div>
    </div>
    <br />
    @*
            <section class="snazy-box-section row">
                @Html.Partial("ItemBinder", new WorldBuilder.Data.PCtoItemBinding())
        </section>
    *@
}
