@model WorldBuilder.Data.PlayerCharacter

@{
    ViewBag.Title = Model.Name + " Sheet";
}











<div class="playerbox grid-container cardcollection">
    <section class="grid-item panel-cont">
        <img src="~/Content/assets/PersonalityPanel.svg" class="panel-svg panel-person" />
        <div class="carddata grid-container">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item pctext pcname panelboldtext" } })
            @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext pctext pcsummary" })
        </div>
    </section>
    <section class="grid-item panel-cont">
        <img src="~/Content/assets/StatsPanel.svg" class="panel-svg panel-stats" />
        <div class="carddata grid-container gridpanelhealth">
            <!--HP and HD names and fields-->
            <div class="grid-item pctext field2col">Health</div><div class="grid-item pctext field2col">Hit Dice</div>
            @Html.EditorFor(model => model.CurHP, new { htmlAttributes = new { @class = "grid-item pctext pchealth field2col" } })
            @Html.EditorFor(model => model.CurHD, new { htmlAttributes = new { @class = "grid-item pctext pchealth field2col" } })
            @Html.EditorFor(model => model.MaxHP, new { htmlAttributes = new { @class = "grid-item pctext field2col startdis" } })
            @Html.EditorFor(model => model.HitDice, new { htmlAttributes = new { @class = "grid-item pctext field2col startdis" } })
        <div class="grid-container gridpanel">
            <!--proficiency(calc) AC(calc) & Initiative(calc)-->
            <div class="grid-item pctext panellabel">Prof.</div><div class="grid-item pctext panellabel">AC</div><div class="grid-item pctext panellabel">Init.</div>
            @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext pchealth panelboldtext field3col startdis" } })
            @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext pchealth panelboldtext field3col startdis" } })
            @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext pchealth panelboldtext field3col startdis" } })

            <!--Mod STR save-->
            @Html.EditorFor(model => model.STR, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
            <div class="grid-item pctext  field3col panelboldtext">STR</div>
            @Html.EditorFor(model => model.STR, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })

            <!--Mod Dex save-->
            @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
            <div class="grid-item pctext  field3col panelboldtext">DEX</div>
            @Html.EditorFor(model => model.DEX, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })

            <!--Mod CON save-->
            @Html.EditorFor(model => model.CON, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
            <div class="grid-item pctext  field3col panelboldtext">CON</div>
            @Html.EditorFor(model => model.CON, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })

            <!--Mod INT save-->
            @Html.EditorFor(model => model.INT, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
            <div class="grid-item pctext  field3col panelboldtext">INT</div>
            @Html.EditorFor(model => model.INT, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })

            <!--Mod WIS save-->
            @Html.EditorFor(model => model.WIS, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
            <div class="grid-item pctext  field3col panelboldtext">WIS</div>
            @Html.EditorFor(model => model.WIS, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })

            <!--Mod CHA save-->
            @Html.EditorFor(model => model.CHA, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
            <div class="grid-item pctext  field3col panelboldtext">CHA</div>
            @Html.EditorFor(model => model.CHA, new { htmlAttributes = new { @class = "grid-item pctext panelboldtext field3col startdis" } })
        </div>
        <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
        <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
        <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
        <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->
        <!--DROPDOWN FOR CONDITIONS GOES HERE!!!!-->

</div>

    </section>
<section class="grid-item panel-cont">
    <img src="~/Content/assets/SkillsPanel.svg" class="panel-svg panel-skills" />
</section>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Background)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Background)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurHD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurHD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HitDice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HitDice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProficiencyBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProficiencyBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Athletics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athletics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acrobatics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acrobatics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SleightofHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleightofHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arcana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arcana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalHandling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalHandling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intimidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intimidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Performance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persuasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persuasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PCID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
