@using WorldBuilder.Models;
@model WorldBuilder.Data.PlayerCharacter

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Player Character</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PCID)

        <hr />
        <section class="row">
            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Name" disabled>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control field-value", data_val_required = "Name is required." } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    <input type="text" class="form-control field-name" value="Player" disabled>@Html.EditorFor(model => model.Player, new { htmlAttributes = new { @class = "form-control field-value" } })
                </div>
            </div>
        </section>
        <section class="row">
            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Full Name" disabled>@Html.EditorFor(model => model.NameFull, new { htmlAttributes = new { @class = "form-control field-value" } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Species" disabled>@Html.EditorFor(model => model.Species, new { htmlAttributes = new { @class = "form-control field-value" } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Class" disabled>@Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control field-value" } })
                </div>
            </div>

            @* field-num *@
            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Background" disabled>@Html.EditorFor(model => model.Background, new { htmlAttributes = new { @class = "form-control field-value" } })
                </div>
            </div>

            @* field-num *@
            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Level" disabled>@Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            @* field-num *@
            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    @* these are inline to avoid some errant whitespace in the page *@
                    <input type="text" class="form-control field-name" value="Age" disabled>@Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>
        </section>

        <div class="form-inline form-group form-horizontal">
            <div class="snazy-box">
                <input type="text" class="form-control field-name-textarea" value="Personal History" disabled>@Html.TextAreaFor(model => model.PersonalHistory, new { htmlAttributes = new { @class = "form-control field-value-textarea" } })
            </div>
        </div>

        <div class="form-inline form-group form-horizontal">
            <div class="snazy-box">
                <input type="text" class="form-control field-name-textarea" value="Personality" disabled>@Html.TextAreaFor(model => model.Personality, new { htmlAttributes = new { @class = "form-control field-value-textarea" } })
            </div>
        </div>
        <section class="row">
            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    <input type="text" class="form-control field-name" value="Current HP" disabled>@Html.EditorFor(model => model.CurHP, new { htmlAttributes = new { @class = "form-control field-value-short" } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    <input type="text" class="form-control field-name" value="Current Hit Dice" disabled>@Html.EditorFor(model => model.CurHD, new { htmlAttributes = new { @class = "form-control field-value-short" } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    <input type="text" class="form-control field-name" value="HP" disabled>@Html.EditorFor(model => model.MaxHP, new { htmlAttributes = new { @class = "form-control field-value-short" } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    <input type="text" class="form-control field-name" value="Hit Dice" disabled>@Html.EditorFor(model => model.HitDice, new { htmlAttributes = new { @class = "form-control field-value-short" } })
                </div>
            </div>

            <div class="form-inline form-group form-horizontal">
                <div class="snazy-box">
                    <input type="text" class="form-control field-name" value="Proficiency Bonus" disabled>@Html.EditorFor(model => model.ProficiencyBonus, new { htmlAttributes = new { @class = "form-control field-value-short" } })
                </div>
            </div>
        </section>
        <div class="snazy-box-section row">
            <!--Attributes!-->
            <div class="row card-title"><h3 class="row">Attributes</h3></div>
            <div class="form-inline form-group col-4">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Strength" disabled>@Html.TextBoxFor(model => model.STR, new { @class = "form-control field-value-num", @type = "number"  })
                </div>
            </div>
            <div class="form-inline form-group col-4">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Dexterity" disabled>@Html.TextBoxFor(model => model.DEX, new { @class = "form-control field-value-num", @type = "number" })
                </div>
            </div>
            <div class="form-inline form-group col-4">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Constitution" disabled>@Html.TextBoxFor(model => model.CON, new { @class = "form-control field-value-num", @type = "number" })
                </div>
            </div>
            <div class="form-inline form-group col-4">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Intelligence" disabled>@Html.TextBoxFor(model => model.INT, new { @class = "form-control field-value-num", @type = "number" })
                </div>
            </div>
            <div class="form-inline form-group col-4">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Wisdom" disabled>@Html.TextBoxFor(model => model.WIS, new { @class = "form-control field-value-num", @type = "number" })
                </div>
            </div>
            <div class="form-inline form-group col-4">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Charisma" disabled>@Html.TextBoxFor(model => model.CHA, new { @class = "form-control field-value-num", @type = "number" })
                </div>
            </div>
        </div>

        <section class="snazy-box-section row">
            <div class="row card-title"><h3 class="row">Skills</h3></div>

            <div class="form-inline form-group col-md form-horizontal">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Athletics" disabled>@Html.EditorFor(model => model.Athletics, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md form-horizontal">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Acrobatics" disabled>@Html.EditorFor(model => model.Acrobatics, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Sleight of Hand" disabled>@Html.EditorFor(model => model.SleightofHand, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Stealth" disabled>@Html.EditorFor(model => model.Stealth, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Arcana" disabled>@Html.EditorFor(model => model.Arcana, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="History" disabled>@Html.EditorFor(model => model.History, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Investigation" disabled>@Html.EditorFor(model => model.Investigation, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Nature" disabled>@Html.EditorFor(model => model.Nature, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Religion" disabled>@Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Animal Handling" disabled>@Html.EditorFor(model => model.AnimalHandling, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Insight" disabled>@Html.EditorFor(model => model.Insight, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Medicine" disabled>@Html.EditorFor(model => model.Medicine, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Perception" disabled>@Html.EditorFor(model => model.Perception, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Survival" disabled>@Html.EditorFor(model => model.Survival, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Deception" disabled>@Html.EditorFor(model => model.Deception, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Intimidation" disabled>@Html.EditorFor(model => model.Intimidation, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Performance" disabled>@Html.EditorFor(model => model.Performance, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

            <div class="form-inline form-group col-md">
                <div class="snazy-box-small-inline">
                    <input type="text" class="form-control field-name" value="Persuasion" disabled>@Html.EditorFor(model => model.Persuasion, new { htmlAttributes = new { @class = "form-control field-value-num" } })
                </div>
            </div>

        </section>

        <br />
        <br />


        <section class="snazy-box-section row">
            @Html.Partial("ItemBinder", new WorldBuilder.Data.PCtoItemBinding())
        </section>











        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

