@model IEnumerable<WorldBuilder.Data.PlayerCharacter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="playerbox grid-container cardcollection">

    @foreach (var item in Model)
    {
        <section class="grid-item panel-cont">
            <img src="~/Content/assets/PersonalityPanel.svg" class="panel-svg panel-person" />
            <div class="carddata grid-container">
                @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "grid-item pctext pcname panelboldtext" } })
                @Html.TextAreaFor(model => item.Personality, new { @class = "grid-item cardtext pctext pcsummary" })

                <div class="grid-item pcbuttonpanel">
                    @Html.ActionLink("Edit", "Edit", new { id = item.PCID, @class = "grid-item leftbutton" })
                    @Html.ActionLink("Details", "Details", new { id = item.PCID, @class = "grid-item leftbutton" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PCID, @class = "grid-item leftbutton" })
                </div>
            </div>
        </section>
    }

</div>

<br />
<br />
<br />
<br />
