@model WorldBuilder.Data.PCtoFeatureBinding

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PCtoFeatureBinding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feature.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feature.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PC.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PC.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PCtoFEBindID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
