@model WorldBuilder.Data.Feature

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Feature</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-inline form-group form-horizontal">
        <div class="snazy-box">
            <input type="text" class="form-control field-name" value="Feature Name" disabled>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control field-value" } })
        </div>
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-inline form-group form-horizontal">
        <div class="snazy-box">
            <input type="text" class="form-control field-name" value="Summary" disabled>@Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control field-value" } })
        </div>
    </div>

    <div class="form-inline form-group form-horizontal">
        <div class="snazy-box">
            <input type="text" class="form-control field-name" value="Description" disabled>@Html.EditorFor(model => model.FullText, new { htmlAttributes = new { @class = "form-control field-value" } })
        </div>
    </div>

    <div class="form-inline form-group form-horizontal">
        <div class="snazy-box">
            <input type="text" class="form-control field-name" value="Mechanics" disabled>@Html.EditorFor(model => model.Mechanics, new { htmlAttributes = new { @class = "form-control field-value" } })
        </div>
    </div>

    <div class="form-inline form-group form-horizontal">
        <div class="snazy-box">
            <input type="text" class="form-control field-name" value="References" disabled>@Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control field-value" } })
        </div>
    </div>

    <div class="form-inline form-group form-horizontal">
        <div class="snazy-box">
            <input type="text" class="form-control field-name" value="Notes" disabled>@Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control field-value" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
