@model WorldBuilder.Data.Feature

@{
    ViewBag.Title = "Feature Details";
}

<h2>Feature Details</h2>

<div class="grid-container">
    <section class="grid-item grid-container panel-cont">
        <img src="~/Content/assets/FeaturePanelLong.svg" class="panel-svg" />
        <div class="grid-item carddata grid-container">
            <div class="grid-item grid-container">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName panelboldtext" } })
                @Html.TextAreaFor(model => model.Mechanics, new { @class = " grid-item cardtext cardMechanics" })
            </div>
            <div class="grid-item">
                @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext cardSummary" })
            </div>
            <div class="grid-item">
                @Html.TextAreaFor(model => model.FullText, new { @class = "grid-item cardtext cardSummary cardlongfulltext" })
            </div>
            <div class="grid-item">
                @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "grid-item cardtext carddetailbottom" } })
            </div>
        </div>


    </section>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeatureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
