@model WorldBuilder.Data.Feature

@{
    ViewBag.Title = "Editing " + Model.Name;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FeatureID)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="grid-container">
                <section class="grid-item grid-container panel-cont">
                    <img src="~/Content/assets/FeaturePanelLong.svg" class="panel-svg" />
                    <div class="grid-item carddata grid-container">
                        <div class="grid-item grid-container">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "grid-item cardtext cardName panelboldtext", placeholder = "Name" } })
                            @Html.TextAreaFor(model => model.Mechanics, new { @class = " grid-item cardtext cardMechanics", placeholder = "Mechanics" })
                        </div>
                        <div class="grid-item">
                            @Html.TextAreaFor(model => model.Summary, new { @class = "grid-item cardtext cardSummary", placeholder = "Summary" })
                        </div>
                        <div class="grid-item">
                            @Html.TextAreaFor(model => model.FullText, new { @class = "grid-item cardtext cardSummary cardlongfulltext", placeholder = "Full Description" })
                        </div>
                        <div class="grid-item">
                            @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "grid-item cardtext carddetailbottom", placeholder = "Source" } })
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}


