<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - World Builder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Expletus+Sans:ital,wght@0,400;0,600;1,600&family=Merriweather&family=Nova+Cut&display=swap" rel="stylesheet">

</head>
<body style="background-color: #7d7d7d">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("World Builder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    @*<button><a href="/World">World</a></button>*@
                    <li>@Html.ActionLink("World", "Index", "World")</li>
                    <li>@Html.ActionLink("Character Builder", "Index", "Player")</li>
                    <li>@Html.ActionLink("Items", "Index", "Items")</li>
                    <li>@Html.ActionLink("Features", "Index", "Features")</li>
                    <li>@Html.ActionLink("Spells", "Index", "Spells")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    <div class="container body-content" style="background-color: #c4c4c4">
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - World Builder by Tom Jarzyniecki III</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    /*
        font selector!
    font-family: 'Expletus Sans', cursive;
    font-family: 'Nova Cut', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Cinzel Decorative', cursive;

    */



    nav {
        background-color: #7e5096;
        box-shadow: 0px 0px 6px 2px #505050;
        margin-bottom: -10px;
    }

    .navbar-nav > li {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 15px;
        text-decoration: none;
    }

    a {
        color: #FFFFFF;
        padding: 5px;
    }


    .btn:hover {
        background-color: #7e5096;
        color: #FFFFFF;
    }

    .btn {
        background-color: #c4c4c4;
        color: black;
        border: 3px solid #6e6e6e;
        font-weight: 700;
    }

    a:hover {
        color: #FFFFFF;
        background-color: #8e8e8e;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
    }

    .snazy-box {
        border-radius: 20px 20px 20px 20px;
        border: 5px solid #8a8a8a;
        margin: 3px;
        background-color: #ffffff;
        box-shadow: 3px 3px 6px 3px #505050;
        overflow: hidden;
    }

    .less-snazy-box {
        /*border-radius: 20px 20px 20px 20px;*/
        border-bottom: 6px solid #8a8e8e;
        /*background-color: #8a8e8e;*/
        /*box-shadow: 3px 3px 6px 2px #505050;*/
    }

    .field-name {
        /*background-color: #8e8e8e;*/
        background-color: #000000;
        /*font-weight: 700;*/
        color: #ffffff;
        width: 100px !important;
        z-index: 1;
        /*border-radius: 20px 0 0 20px;*/
        border-radius: 0 0 0 0;
        padding: 0px;
        /*box-shadow: -3px 0px 3px #505050 inset;*/
    }

    .snazy-box-small-inline {
        /*border: 5px solid #6e6e6e;*/
        border-radius: 20px 20px 20px 20px;
        margin: 3px;
        background-color: #ffffff;
        min-width: 290px;
        box-shadow: 1px 1px 8px 2px #505050;
    }

    .snazy-box-section {
        /*border: 5px solid #6e6e6e;*/
        border-radius: 20px 20px 20px 20px;
        margin: 3px;
        padding: 5px;
        padding-bottom: 0px;
        background-color: #aeaeae;
        box-shadow: 3px 3px 8px #000000;
    }

    .form-control:disabled {
        background-color: #aeaeae;
        font-weight: 700;
        color: #ffffff;
        width: 200px;
        border: none;
    }

    .form-inline .form-control {
        /*width: unset;*/
    }

    .form-control {
        position: relative;
        max-width: 100%;
        width: 80%;
        display: inline !important;
    }

    .form-group {
        /*margin-bottom: .5rem;*/
        /*margin-left: .5rem;*/
        margin: 0;
    }


    .field-name:hover {
        background-color: #7e5096;
    }

    .field-name-check {
        /*background-color: #8e8e8e;*/
        background-color: #000000;
        font-weight: 700;
        color: #ffffff;
        width: 100px !important;
        z-index: 1;
        border-radius: 20px 20px 0 0;
    }

    .field-value {
        width: 240px !important;
        /*margin-top: 15px;*/
        /*border-radius: 0 20px 20px 0;*/
        outline: none;
        overflow: hidden;
        border: none;
        /*margin-left: -5px;*/
    }

    .my-card-item {
        max-width: 300px;
        /*border-radius: 20px 20px 20px 20px;*/
        max-height: 260px;
        margin-bottom: 10px;
        margin-right: 10px;
        /*z-index: -1;*/
    }

    .my-card-tl {
    }

    .my-card-tr {
    }

    .my-card-br {
    }

    .my-card-bl {
    }

    .field-value-short {
        width: 150px !important;
        /*margin-top: 15px;*/
        border-radius: 0 20px 20px 0;
        outline: none;
        overflow: hidden;
        border: none;
        /*margin-left: -5px;*/
    }

    .field-value-check {
        width: 40px !important;
        /*margin-top: 15px;*/
        border-radius: 0 20px 20px 0;
        margin-left: 30px;
        overflow: hidden;
        border: none;
    }

    .field-value-num {
        width: 110px !important;
        /*margin-top: 15px;*/
        border-radius: 0 20px 20px 0;
        /*margin-left: -5px;*/
        outline: none;
        overflow: hidden;
        border: none;
    }

    input {
        text-align: center;
    }

    .field-name-textarea {
        /*background-color: #8e8e8e;*/
        background-color: #000000;
        font-weight: 700;
        color: #ffffff;
        width: 100px !important;
        z-index: 1;
        border-radius: 0 0 20px 0;
        position: absolute;
        top: auto;
        padding: 0px;
        /*box-shadow: 1px 1px 8px 2px #505050;*/
    }

    /*textarea {
        overflow: hidden;
        min-width: 335px;
        max-width: 335px;
        min-height: 100px;
        margin-top: 35px;
        margin-left: 5px;
        margin-right: 5px;
        resize: both;
        border: none;
        border-radius: 20px 20px 20px 20px;
        outline: none;
    }*/

    .card-title {
        width: 100%;
        text-align: center;
        object-position: center;
        padding-left: 10%;
    }

    .col-4 {
        min-width: 290px;
        padding: 0;
        width: 290px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }












    /*beginning of the new paradigm*/
    .mycard {
        width: 265px !important;
        height: 326px;
        box-shadow: 3px 5px 5px 1px #444444;
        border-radius: 25px 25px 25px 25px;
        /*position: relative;*/
        /*margin: 0;*/
        /*margin:0;*/
    }

    .mybigspellpanel {
        width: 521px !important;
        height: 613px;
        box-shadow: 3px 5px 5px 1px #444444;
        border-radius: 25px 25px 25px 25px;
        display: grid;
        grid-template-columns: 256px 256px;
        grid-template-rows: 256px;
        grid-gap: 10px;
        grid-auto-rows: minmax(330px, auto);
        /*position: relative;*/
        /*margin: 0;*/
        /*margin:0;*/
    }

    .panel-cont {
        width: 265px !important;
        height: 614px;
        box-shadow: 3px 5px 5px 1px #444444;
        border-radius: 25px 25px 25px 25px;
        /*position: relative;*/
        /*margin: 0;*/
        /*margin:0;*/
    }

    .cardcollection {
        display: grid;
        grid-template-columns: repeat(auto-fill, 265px);
        grid-gap: 10px;
        grid-auto-rows: minmax(330px, auto);
    }

    .carddata {
        position: absolute;
        width: 265px;
        z-index: 200;
        padding-right: 7px;
        padding-left: 7px;
    }

    .gridpanelhealth {
        display: grid;
        grid-template-columns: repeat(2, 125px);
        margin-top:16px;
        /*grid-auto-rows: 52px;*/
        /*grid-auto-rows: minmax(330px, auto);*/
        /*grid-auto-flow: row dense;*/
    }

    .gridpanelskills {
        display: grid;
        grid-template-columns: 83px auto;
        margin-top: 16px;
        margin-left: 4px;
        padding-right: 8px;
        /*grid-auto-rows: 52px;*/
        /*grid-auto-rows: minmax(330px, auto);*/
        /*grid-auto-flow: row dense;*/
    }

    .gridpanel {
        display: grid;
        grid-template-columns: repeat(3,83px);
        margin-top: 15px;
        /*grid-auto-rows: 52px;*/
        /*grid-auto-rows: minmax(330px, auto);*/
        /*grid-auto-flow: row dense;*/
    }

    .panel-svg-small {
        width: 265px;
        height: 330px;
        position: absolute;
        z-index: 1;
        shape-rendering: geometricPrecision;
    }

    .panel-svg-big-spell {
        width: 521px;
        height: 613px;
        position: absolute;
        z-index: 1;
        shape-rendering: geometricPrecision;
    }

    .panel-svg {
        width: 265px;
        height: 619px; 
        position: absolute;
        z-index: 1;
        shape-rendering: geometricPrecision;
    }

    .cardtext {
        position: relative;
        background: none;
        outline: none;
        border: none;
        width: 100%;
        line-height: 1.25;
        font-size: 20px;
        color: #DDDDDD;
        z-index: 250;
    }

    .pctext {
        position: relative;
        background: none;
        outline: none;
        border: none;
        width: 100%;
        text-align:center;
        line-height: 1.25;
        font-size: 20px;
        color: #DDDDDD;
    }

    .cardName {
        height: 44px;
        margin-top: 5px;
        right: 0;
        padding-left: 40px;
    }

    .pcname {
        height: 36px;
        margin-top: 16px;
        left: 0;
        padding-left: 8px;
        padding-right: 8px;
    }

    .fieldname {
        font-size: 18px;
        font-weight: 700;
        grid-auto-rows: 32px;
    }

    .fieldskills{
        height: 34.5px;
    }
    /*.field2col {
        width: 124px;
        grid-column: 1 /2;
    }
        */
    .panellabel {
        height: 36px;
    }

    .field3col {
        height: 52px;
        vertical-align:middle;
    }

    .pchealth {
        /*height: 62px;*/
        /*margin-top: 16px; for science you monster*/
        left: 0;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 52px;
        font-weight: 700;
        font-weight: 700;
    }

    .panelboldtext {
        font-size: 25px;
        font-weight: 700;
    }

    .pcsummary {
        height: 545px;
        margin-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        overflow: hidden;
        resize: none;
    }

    .cardNamecorner {
        width: 28px;
        font-weight: 700;
        font-size: x-large;
        height: 28px;
        margin-top: 7px;
        margin-left: 220px;
        float: left;
    }

    .cardExtraDataLeft {
        width: 27px;
        font-weight: 700;
        font-size: xx-large;
        color: #353535;
        height: 28px;
        margin-top: -8px;
    }

    .cardDetail1 {
        width: 100px;
        margin-left: 39px;
        margin-top: 4px;
        height: 28px;
    }

    .cardDetail2 {
        width: 120px;
        padding-left: 2px;
        margin-left: 2px;
        margin-top: 4px;
        height: 28px;
        font-size: 18px;
    }

    .cardDetail3 {
        margin-top: 10px;
        height: 42px;
        /*margin-left:6px;*/
    }

    .cardSummary {
        height: 180px;
        margin-top: -4px;
        padding-left: 8px;
        /*padding-right: 5px;*/
        overflow: hidden;
        resize: none;
        font-size: 16px;
    }

    .spellsummary {
        height: 256px;
        margin-top: 0;
        margin-left:0;
        padding-top: 14px;
        padding-right: 14px;
        padding-left: 0;
        /*padding-right: 5px;*/
        overflow: hidden;
        resize: none;
        font-size: 16px;
    }

    .spellfulltext {
        height: 348px;
        width:512px;
        margin-top: 0;
        margin-left: 0;
        padding-top: 4px;
        padding-right: 7px;
        padding-left: 7px;
        /*padding-right: 5px;*/
        overflow: hidden;
        resize: none;
        font-size: 16px;
    }

    .cardtextarea {
        height: 42px;
        margin-top: 6px;
        padding-left: 6px;
        /*padding-right: 5px;*/
        overflow: hidden;
        resize: none;
        font-size: 18px;
    }
</style>